body{
    margin:0;
}

*{
    margin:0;
}
.heading{
    text-align: center;
    background-color: lightgreen;
    padding: 30px 0;
    margin-bottom:20px;
    font-family: 'Bruno Ace SC', cursive;
    position:fixed;
    left:0px;
    right:0px;
     top:0px;
}

.food-items{
    font-size: 20px;
    font-weight: bold;
   text-align: center;
   position: fixed;
   background-color: white;
   left:0px;
   right:0px;
   top:80px;
   padding:10px;
}

.flex-container{
    display:flex;
}

.caterory_food{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin:0px ;
    gap:30px;
    width:70%;
    
    padding:20px;
    margin-top:120px;
}

.food{
    display:flex;
    flex-direction:column;
    gap:10px;
    border-radius: 10px;
    transition:0.4s;
    padding:10px;
    
}

.food>img{
    width:100%;
    height:70%;
}

.food:hover{
     transform: scaleX(1.01) scaleX(1.02);
    box-Shadow:2px 1px 6px gray;
    
}

.ellipsis{
    display: flex;
    justify-content: space-between;
    gap:30px;
    align-items:center;
}

.ellipsis p:nth-child(1){
    flex:1;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.price-bill{
    position: fixed;
    left:1000px;
    top:120px;
    right:0px;
    bottom: 0px;
    background-color: rgb(112, 107, 107);
    border:1px solid blue;
    overflow-y: scroll;
}

.price-bill::-webkit-scrollbar{
    display: none;
}


.orderItems{
    color:white;
    display: flex;
    gap:10px;
    padding:10px;
}

.orderItems span{
    width:30%;
}

.Item-card{
    text-align: center;
    padding: 10px;
    color:white;
}

button{
    
    padding:8px 10px;
    background-color: lightgreen;
    border-radius: 5px;
    margin-left:15px;
    display:none;
}
.display{
    display: flex;
}

.space-bt{
    display: flex;
    justify-content: space-between;
    margin:20px 0;
    border-top:1px solid black;
    padding:10px 30px;
    color:white;
}

.btn-display{
    display: flex;
    gap:10px;
}